<nav class="container mx-auto flex justify-center bg-teal-400">
  
  <ul class="flex flex-row p-4">
    <li class="px-4"><a href="/admin/users">View Users</a></li>
    <li class="px-4"><a href="/admin/adduser">Add Users</a></li>
   
    <li class="px-4"><a href="/login">Login</a></li>
    
    <li class="px-4"><a href="/register">Register</a></li>
    <li class="px-4"><a href="/logout">Logout</a></li>
  </ul>

</nav>
