<nav class="border-b border-gray-700">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[5] p-2 shadow bg-base-100 rounded-box w-96"
        >
          <li><a href="/">Home</a></li>
          <li>
            <a>Admin</a>
            <ul class="p-2">
              <li><a>Dashboard</a></li>
              <li><a>View books</a></li>
              <li><a>View author</a></li>
              <li><a>View genre</a></li>
              <li><a>View Users</a></li>
            </ul>
          </li>
          <li><a>View Cart</a></li>
          <li><a>View Profile</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li tabindex="0">
          <details>
            <summary>Admin</summary>
            <ul class="p-2">
              <li><a>Dashboard</a></li>
              <li><a href="/admin/books">View Books</a></li>
              <li ><a href="/admin/authors">View Authors</a></li>
              <li><a href="/admin/users">View Users</a></li>
              <li><a href="/admin/genres">View Genre</a></li>
            </ul>
          </details>
        </li>
        <li><a href="/cart">View Cart</a></li>
        <li><a href="/profile">View Profile</a></li>
        <li><a href="/orders">View Orders</a></li>
      </ul>
    </div>

    <div class="navbar-end">
      <a href="/login" class="btn border-gray-700">Login</a>
      <a href="/register" class="btn border-gray-700 mx-2">Register</a>
      <a href="/logout" class="btn border-gray-700">Logout</a>
    </div>
  </div>
</nav>
