<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs",{loggedin})%>

<main>
  <div class="card w-1/3 bg-base-100 shadow-xl mx-auto">
    <div class="card-body items-center text-center">
      <h1 class="text-6xl">Add Genre</h1>
      <form action="/admin/addGenre" method="POST">
        <input type="text" name="name" placeholder="genre" class="input input-bordered input-accent w-full max-w-xs my-2" />
        <button type="submit" class="btn btn-accent">Add Genre</button>
        <a href="/admin/genres" class="btn btn-accent">Cancel</a>
      </form>
    </div>
  </div>
</main>

<%- include("includes/footer.ejs")%>
